# Игнорирование временных файлов Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорирование логов
*.log

# Игнорирование временных файлов среды разработки
.vscode/
.idea/
.DS_Store

# Игнорирование файлов настроек
.env
*.env

# Игнорирование node_modules для веб-проектов
node_modules/

# Если будет база данных SQLite
*.db
*.sqlite3

# Игнорирование файла link
link
